body{
    text-align: center; 
    background-color: black;
}
.A {
    display: none;
}
.B {
    display: none;
}
.C {
    display: none;
}
.S2 {
    display: none;
}
.S3 {
    display: none;
}
.S4 {
    display: none;
}
.D { 
    display: none;
}
.E { 
    display: none;
}
.S7 { 
    display: none;
}